.add-to-cart{
  background-color: yellow;
  padding: 4px 6px;
  margin-right: 6px;
  border: solid;
  cursor: pointer;
}

.buy-now{
  background-color: orange;
  padding: 4px 6px;
  border: solid;
  cursor: pointer;

}
p{
  font-family: arial;
}